@import "functions.scss";

#stage {
	width: 100%;
	height: 400px;

	h1 {
		@include safe-font-size("bigger");
		float: right;
		width: auto;
		margin-top: 150px;
		color: $grey-text;

		.pre {
			@include safe-font-size("big");
			float: left;
			clear: both;
			color: #333;
		}
		.post {
			@include safe-font-size("big");
			float: right;
			clear: both;
			color: #333;
		}
		.hedline {
			float: left;
			clear: both;
		}
		.green {
			@include safe-font-size("extream");
			color: $green-prime;
		}
	}

	.media {
		position: absolute;
	}

	.cloud-static {
		@include image("sprite-home.png", no-repeat, 0 -187px);
		width: 225px;
		height: 138px;
		position: absolute;
		z-index: 20;
		top: 50px;
		left: 180px;
		float: left;
	}

	.cloud-animated {
		@include image("sprite-home.png", no-repeat, -225px -193px);
		@include animation(stage-cloud, 12s);
		width: 163px;
		height: 97px;
		position: absolute;
		z-index: 19;
		top: 30px;
		left: 80px;
		float: left;
	}

	.wheel-large {
		@include image("sprite-home.png", no-repeat, -388px -154px);
		@include animation(stage-wheel-large, 12s);
		width: 81px;
		height: 81px;
		position: absolute;
		z-index: 21;
		top: 135px;
		left: 190px;
		float: left;
	}

	.wheel-medium {
		@include image("sprite-home.png", no-repeat, -413px -238px);
		@include animation(stage-wheel-medium, 6s);
		width: 54px;
		height: 54px;
		position: absolute;
		z-index: 21;
		top: 137px;
		left: 293px;
		float: left;
	}

	.wheel-small {
		@include image("sprite-home.png", no-repeat, -338px -154px);
		@include animation(stage-wheel-small, 4.69s);
		width: 39px;
		height: 39px;
		position: absolute;
		z-index: 21;
		top: 159px;
		left: 264px;
		float: left;
	}

	.laptop {
		@include image("sprite-home.png");
		width: 293px;
		height: 185px;
		position: absolute;
		z-index: 22;
		top: 155px;
		left: 0;
		float: left;

		.experience {
			@include image("sprite-home.png", no-repeat, -431px -296px);
			@include animation(stage-icons, 2.5s, 1);
			width: 38px;
			height: 51px;
			position: absolute;
			z-index: 23;
			top: 56px;
			left: 70px;
			float: left;
		}

		.quality {
			@include image("sprite-home.png", no-repeat, -319px -293px);
			@include animation(stage-icons, 2.5s, 1);
			width: 53px;
			height: 54px;
			position: absolute;
			z-index: 23;
			top: 55px;
			left: 180px;
			float: left;
		}

		&:after {
			@include image("sprite-home.png", no-repeat, -316px 0);
			content: "";
			width: 153px;
			height: 153px;
			position: absolute;
			z-index: 24;
			top: 1px;
			right: 16px;
			float: left;
		}
	}
}

#featured {
	@include reset;
	@include section;
	list-style: none;
	background: $green-background;
	padding: 40px -webkit-calc(50% - 500px );
	padding: 40px -moz-calc(50% - 500px );
	padding: 40px -ms-calc(50% - 500px );
	padding: 40px -o-calc(50% - 500px );
	padding: 40px calc(50% - 500px );
	width: 1000px;
	
	li {
		@include safe-font-size("title");
		float: left;
		width: 300px;
		margin-right: 50px;
		height: 70px;
		padding-top: 60px;
		text-align: center;
		
		strong {
			font-weight: bold;
			color: #555;
		}
		&.experience {
			@include image("sprite-home-icons.png", no-repeat, center 0);
		}
		&.quality {
			@include image("sprite-home-icons.png", no-repeat, center -151px);
		}
		&.technologies {
			@include image("sprite-home-icons.png", no-repeat, center -291px);
		}
		&:last-child {
			margin-right: 0; 
		}
	}
}

#clients {
	@include reset;
	@include section;
	list-style: none;
	padding: 80px 0;
	
	li {
		float: left;
		width: 25%;
		height: 45px;
		opacity: .5; 
		
		&.conduit {
			@include image("logos/conduit-bw.png", no-repeat, center center);
		}
		&.newvem {
			@include image("logos/newvem-bw.png", no-repeat, center center);
		}
		&.illuminea {
			@include image("logos/illuminea-bw.png", no-repeat, center center);
		}
		&.bestmatch {
			@include image("logos/bestmatch-bw.png", no-repeat, center center);
		}
	}
}


/* =================================== Animations =================================== */
/* Large Wheel Animation */
@keyframes stage-wheel-large {
	from {
		transform: rotate(0deg);
		transform-origin: center center;
	}
	to {
		transform: rotate(360deg);
		transform-origin: center center;
	}
}

@-moz-keyframes stage-wheel-large {
	from {
		-moz-transform: rotate(0deg);
		-moz-transform-origin: center center;
	}
	to {
		-moz-transform: rotate(360deg);
		-moz-transform-origin: center center;
	}
}

@-webkit-keyframes stage-wheel-large {
	from {
		-webkit-transform: rotate(0deg);
		-webkit-transform-origin: center center;
	}
	to {
		-webkit-transform: rotate(360deg);
		-webkit-transform-origin: center center;
	}
}

@-o-keyframes stage-wheel-large {
	from {
		-o-transform: rotate(0deg);
		-o-transform-origin: center center;
	}
	to {
		-o-transform: rotate(360deg);
		-o-transform-origin: center center;
	}
}

/* Medium Wheel Animation */
@keyframes stage-wheel-medium {
	from {
		transform: rotate(0deg);
		transform-origin: center center;
	}
	to {
		transform: rotate(360deg);
		transform-origin: center center;
	}
}

@-moz-keyframes stage-wheel-medium {
	from {
		-moz-transform: rotate(0deg);
		-moz-transform-origin: center center;
	}
	to {
		-moz-transform: rotate(360deg);
		-moz-transform-origin: center center;
	}
}

@-webkit-keyframes stage-wheel-medium {
	from {
		-webkit-transform: rotate(0deg);
		-webkit-transform-origin: center center;
	}
	to {
		-webkit-transform: rotate(360deg);
		-webkit-transform-origin: center center;
	}
}

@-o-keyframes stage-wheel-medium {
	from {
		-o-transform: rotate(0deg);
		-o-transform-origin: center center;
	}
	to {
		-o-transform: rotate(360deg);
		-o-transform-origin: center center;
	}
}

/* Medium Wheel Animation */
@keyframes stage-wheel-small {
	from {
		transform: rotate(0deg);
		transform-origin: center center;
	}
	to {
		transform: rotate(-360deg);
		transform-origin: center center;
	}
}

@-moz-keyframes stage-wheel-small {
	from {
		-moz-transform: rotate(0deg);
		-moz-transform-origin: center center;
	}
	to {
		-moz-transform: rotate(-360deg);
		-moz-transform-origin: center center;
	}
}

@-webkit-keyframes stage-wheel-small {
	from {
		-webkit-transform: rotate(0deg);
		-webkit-transform-origin: center center;
	}
	to {
		-webkit-transform: rotate(-360deg);
		-webkit-transform-origin: center center;
	}
}

@-o-keyframes stage-wheel-small {
	from {
		-o-transform: rotate(0deg);
		-o-transform-origin: center center;
	}
	to {
		-o-transform: rotate(-360deg);
		-o-transform-origin: center center;
	}
}

/* Cloud Animation */
@keyframes stage-cloud {
	0% {
		opacity: 0;
		left: 200px;
	}
	20% {
		opacity: 1;
		left: 160px;
	}
	80% {
		opacity: 1;
		left: 40px;
	}
	100% {
		opacity: 0;
		left: 0px;
	}
}

@-moz-keyframes stage-cloud {
	0% {
		opacity: 0;
		left: 200px;
	}
	20% {
		opacity: 1;
		left: 160px;
	}
	80% {
		opacity: 1;
		left: 40px;
	}
	100% {
		opacity: 0;
		left: 0px;
	}
}

@-webkit-keyframes stage-cloud {
	0% {
		opacity: 0;
		left: 200px;
	}
	20% {
		opacity: 1;
		left: 160px;
	}
	80% {
		opacity: 1;
		left: 40px;
	}
	100% {
		opacity: 0;
		left: 0px;
	}
}

@-o-keyframes stage-cloud {
	0% {
		opacity: 0;
		left: 200px;
	}
	20% {
		opacity: 1;
		left: 160px;
	}
	80% {
		opacity: 1;
		left: 40px;
	}
	100% {
		opacity: 0;
		left: 0px;
	}
}

/* Fade In Animation */
@keyframes stage-icons {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-moz-keyframes stage-icons {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes stage-icons {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-o-keyframes stage-icons {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


/* =================================== Responsive =================================== */
@media (max-width: 1050px) { 
	#stage {
		h1 {
			margin-right: 20px;
		}
	}

	#featured {
		padding: 40px 2.5%;
		width: 95%;
		
		li {
			@include safe-font-size("normal");
			width: 30%;
			margin-right: 5%;
			height: 60px;

			&:last-child {
				margin-right: 0; 
			}
		}
	}
}
@media (max-width: 780px) {
	#stage {
		.cloud-static {
			left: 70px;
		}
		.wheel-large {
			top: 132px;
			left: 118px;
		}
		.wheel-medium {
			top: 132px;
			left: 243px;
		}
		.wheel-small {
			top: 146px;
			left: 212px;
		}

		h1 {
			@include safe-font-size("title");
			margin-top: 190px;
			margin-right: 10px;

			.pre {
				@include safe-font-size("big");
			}
			.post {
				@include safe-font-size("big");
			}
			.green {
				@include safe-font-size("large");
			}
		}
	}

	#clients li {
		width: 33.33%;
		
		&.illuminea {
			display: none;
		}
	}
}
@media (max-width: 750px) {
	#stage {
		height: auto;

		h1 {
			margin: 0;
		}
		
		.media {
			display: none;
		}
	}
	
	#clients {
		display: none;
	}
}
@media (max-width: 600px) {
	#stage {
		h1 {
			margin: 0 25px;
		}
	}

	body #featured {
		background: none;
		padding: 20px 5%;
		width: 90%;
		
		li {
			@include section;
			@include box-sizing;
			@include safe-font-size("title");
			margin: 0 0 20px 0;
			height: auto;
			padding: 0 0 0 50px;
			text-align: left;

			&.experience {
				@include image("sprite-home-icons@half.png", no-repeat, -12px 5px, 43px 170px);
			}
			&.quality {
				@include image("sprite-home-icons@half.png", no-repeat, -10px -71px, 43px 170px);
			}
			&.technologies {
				background: none;
			}
			&.technologies:before {
				@include image("sprite-home-icons@half.png", no-repeat, 0 -139px, 43px 170px);
				@include rotate(90deg, 16px, 21px);
				content: "";
				position: absolute;
				width: 50px;
				height: 35px;
				left: 10px;
			}
		}
	}
}
@media (max-width: 400px) {
	#stage {
		h1 {
			@include safe-font-size("normal");
			margin: 15px;

			.pre {
				@include safe-font-size("title");
			}
			.post {
				@include safe-font-size("title");
			}
			.green {
				@include safe-font-size("bigger");
			}
		}
	}
}


/* ===================================== Retina ===================================== */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {

	$home-sprite-size: 469px 347px;
	$home-icons-sprite-size: 86px 341px;

	#stage {

		.cloud-static {
			@include image("sprite-home@2x.png", no-repeat, 0 -187px, $home-sprite-size);
		}

		.cloud-animated {
			@include image("sprite-home@2x.png", no-repeat, -225px -193px, $home-sprite-size);
		}

		.wheel-large {
			@include image("sprite-home@2x.png", no-repeat, -388px -154px, $home-sprite-size);
		}

		.wheel-medium {
			@include image("sprite-home@2x.png", no-repeat, -413px -238px, $home-sprite-size);
		}

		.wheel-small {
			@include image("sprite-home@2x.png", no-repeat, -338px -154px, $home-sprite-size);
		}

		.laptop {
			@include image("sprite-home@2x.png", no-repeat, 0 0, $home-sprite-size);

			.experience {
				@include image("sprite-home@2x.png", no-repeat, -431px -296px, $home-sprite-size);
			}

			.quality {
				@include image("sprite-home@2x.png", no-repeat, -319px -293px, $home-sprite-size);
			}

			&:after {
				@include image("sprite-home@2x.png", no-repeat, -316px 0, $home-sprite-size);
			}
		}
	}

	#featured li  {

		&.experience {
			@include image("sprite-home-icons@2x.png", no-repeat, center 0, $home-icons-sprite-size);
		}
		&.quality {
			@include image("sprite-home-icons@2x.png", no-repeat, center -151px, $home-icons-sprite-size);
		}
		&.technologies {
			@include image("sprite-home-icons@2x.png", no-repeat, center -291px, $home-icons-sprite-size);
		}
	}

	#clients li {
			
		&.conduit {
			@include image("logos/conduit-bw@2x.png", no-repeat, center center, 179px 45px);
		}
		&.newvem {
			@include image("logos/newvem-bw@2x.png", no-repeat, center center, 173px 45px);
		}
		&.bestmatch {
			@include image("logos/bestmatch-bw@2x.png", no-repeat, center center, 178px 45px);
		}

	}

}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 600px) {

	body ul#featured li {
		&.experience {
			@include image("sprite-home-icons.png", no-repeat, -12px 5px, 43px 170px);
		}
		&.quality {
			@include image("sprite-home-icons.png", no-repeat, -10px -71px, 43px 170px);
		}
		&.technologies:before {
			@include image("sprite-home-icons.png", no-repeat, 0 -139px, 43px 170px);
		}
	}
}