
/* Variables */
$images: "../images/";
$ui: "../images/ui/";

/* Colors */
$green-dark: #7DBA3B;
$green-prime: #8ED541;
$green-prime-mobile: #9FF049;
$green-light: #C6EAA0;
$green-overlay: #E3F4CF;
$green-background: #F3FBEC;

$grey-text: #666;
$grey-light-text: rgba(102,102,102,.5);
$grey-light: #CCC;
$grey-overlay: rgba(204,204,204,.4);
$grey-background: #EBEBEB;
$grey-background-shade: #F7F7F7;

$link-normal: #090;
$link-hover: #F7AA00;
$link-active: #FFD24D;